
body{
    padding: 0;
    margin:0;
    font-family: 'Agbalumo', cursive;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:white;
    color: #211717;
    height:65px;
    border-radius: 12px;
    position:fixed;

    
}
.logo img {
    width: 40px;
    height: auto;
    padding: left 150px; 
    padding-right: 50px;
}
.Search{
    height: 65px;
}


.address{
    padding-right:30px;;
}
.box-left{
    display: flex;
    padding-left: 200px;
}


.menu
{
    padding-right: 200px;
    display: flex;
}
.menu-item{
    padding :70px;
    display: flex;
    gap:5px;
    cursor: pointer;
    align-items: center;
}
.menu-item:hover{
    color: #ff4500;
    fill:#ff4500
}


.container{
    margin: 0 auto;
    width:90%;
    padding-top: 130px;
    align-items: center;
    color: #211717;
    border-radius: 12px;
}
.box-image{
    width: 100%;
    border-radius: 12px;
}
.rating{
    display: flex;
   gap:3px;
   font-size: 18px;
    font-weight: 600;
    margin: 3px;
}
.head{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.Title{
    padding:0px;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.subtitle{
    margin:0;
}
#unique1{
    background-color: brown;
}



@keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.9);
    }
}

.item{
    padding: 10px;
    width:300px;
    border: 0 solid black;
    transition: transform 0.3s ease;
}

.item:hover{
    transform: rotate(5deg) scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    border-radius: 12px;
    cursor: pointer;
   
}

@media(max-width: 468px){
   .item{
       width: 200px;
       background-color: blue;
   }
}

img{
    border: 0 solid black;
    transition: transform 0.3s ease;
}

.bestoffers
{
  
    margin-top: 20px;
    display: flex;
    gap:20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1{
    display:flex;
}
.off{
    width:450px;
}
.sub{
    display:flex;
    gap:10px;
}
/* .main{
    position: relative;
} */
.helpdesk{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    border:1px solid rgba(214, 56, 12, 0.746);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px 0px;
    cursor: pointer;
    z-index: 1000; 
}
.search-bar {
    position: sticky;
    top: 0;
    background-color: #ffffff; 
    padding: 10px;
    z-index: 100; 
}

.search-bar input {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #ff4500; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.item {
    position: relative;
}

.discount-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 5px 10px; 
    border-radius: 0 0 10px 0;
    font-weight: bold;
}